[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "pure"]
	path = pure
	url = https://github.com/sindresorhus/pure
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts
[submodule "tmux-themepack"]
	path = tmux-themepack
	url = https://github.com/jimeh/tmux-themepack
